
<div class="container">
    <p-card [style]="{ width:'100%', height:'100%'}">
        <ng-template pTemplate="header">
            <p style="color:rgb(63, 63, 179);font-size: 2rem;margin-left: 1rem;">
                會員登入
            </p>
        </ng-template>
        <div style="height: 6rem;">
            <input type="text" #floatingAccount pInputText placeholder="請輸入帳號"  (blur)="onCheckAccountValue()" [(ngModel)]="accountNumber"/>
            <fa-icon [icon]="accountEye" style="margin-left: 0.5rem" (click)="showPsw('account')"></fa-icon>
            <fa-icon [icon]="faExclamationCircle" style="margin-left: 0.5rem;color:rgb(69, 69, 197);" (click)="showMsg('account')"></fa-icon>
            <div *ngIf="checkAccountValue" style="height: 1rem;">
                <p style="color:rgb(226, 66, 66)">
                    必填欄位
                </p>
            </div>
        </div>

        <div style="height: 6rem;">
            <input type="text" #floatingUserName pInputText placeholder="請輸入使用者名稱" (blur)="onCheckUserValue()" [(ngModel)]="userName"/>
            <fa-icon [icon]="userEye" style="margin-left: 0.5rem" (click)="showPsw('userName')"></fa-icon>
            <fa-icon [icon]="faExclamationCircle" style="margin-left: 0.5rem;color:rgb(69, 69, 197);" (click)="showMsg('user')"></fa-icon>
            <div *ngIf="checkUserValue" style="height: 1rem;">
                <p style="color:rgb(226, 66, 66)">
                    請輸入6-20碼英數符號
                </p>
            </div>
        </div>

        <div style="height: 6rem;">
            <input type="password" #floatingPassword pInputText placeholder="請輸入密碼" (blur)="onCheckPasswordValue()" [(ngModel)]="password"/>
            <fa-icon [icon]="passwordEye" style="margin-left: 0.5rem" (click)="showPsw('password')"></fa-icon>
            <div *ngIf="checkPasseordValue" style="height: 1rem;">
                <p style="color:rgb(226, 66, 66)">
                    請輸入8-12碼英數符號
                </p>
            </div>
        </div>
        <div style="height: 2rem;">
            <p-checkbox [(ngModel)]="checkStorage" [binary]="true" label="記住登入帳號"></p-checkbox>
        </div>
        <ng-template pTemplate="footer">
            <div>
                <p-button label="登入" [style]="{width:'21rem'}" (click)="onLogin()"></p-button>
            </div>
            <div style="margin-top: 1rem;">
                <p-button label="我要設定使用者名稱" [style]="{width:'21rem',background:'#989898',border:'#64748B'}" ></p-button>
            </div>
            <div style="margin-top: 1rem;width: 20rem;">
                <div style="display:inline;"><a href="https://test.com/register" target="_blank">▶我要註冊</a></div>
                <div style="display:inline;float:right;"><a href="https://www.youtube.com/">▶忘記使用者帳號或密碼</a></div>
            </div>
        </ng-template>
    </p-card>
</div>

<p-dialog [(visible)]="isAccountMwssage" [modal]="true" [closable]="false" [style]="{width: '20%'}">
    <p>
       帳號為您的身分證字號，倘為外籍人士，請填寫投保時於要保書上填寫支號碼，例如:護照號碼/居留證號碼/當地的身分證字號...等
    </p>
    <ng-template pTemplate="footer">
        <p-button  (click)="isAccountMwssage = false" label="關閉"></p-button>
    </ng-template>
</p-dialog>

<p-dialog header="全面提升帳戶的使用安全" [(visible)]="isUserNameMwssage" [modal]="true" [closable]="false" [style]="{width: '20%'}">
    <p>
       自108年5月起，登入安聯E網通須輸入【使用者名稱】，諾您尚未設定，請至會員燈入頁點選，【我要設定使用者名稱】進行設定
    </p>
    <ng-template pTemplate="footer">
        <p-button  (click)="closeUserDiag()" label="關閉"></p-button>
        <p-button  *ngIf="fitstLogin === true" (click)="onSetUserName()" label="前往設定"></p-button>
    </ng-template>
</p-dialog>
